<div class="navs">
 <div class="hamburger"
      (click)="show()">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
 </div>
</div>
<div class="main">
 <div class="grandparent">
  <div class="parent">
   <div class="child1 child"
        [@headerAnim]="headerState">
    <div class="block1">
     <p class="headerFont">Meditation</p>
    </div>
    <div class="block2">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNpRt3tpzbxPRNMHSzBBf9aNADTDvq_MhrVA&usqp=CAU"
          class="rounded-circle"
          style="width:100px;
                 opacity:0.8;">
     <div class="card myHeaderCard m-2">
      <div class="card-body">
       <blockquote class="blockquote">
        <p class="myCardText">We are shaped by our thoughts; we become what we think.</p>
        <footer class="blockquote-footer">
         Gautam Buddha
        </footer>
       </blockquote>
      </div>
     </div>
    </div>
    <div class="block3">
     <ul class="list-group
                header-list
                list-group-flush">

      <li class="list-group-item
                 option-a
                 list-group-item-action"
          *ngIf="list1a==1"
           @fadeUpDown>
       Condition your mind
      </li>
      <li class="list-group-item
                 option-b
                 list-group-item-action"
          *ngIf="list1b==1"
          @fadeUpDown>
       focus on your focus.
      </li>
      <li class="list-group-item
                 option-c
                 list-group-item-action"
          *ngIf="list1c==1"
          @fadeUpDown>
       Start session for free
      </li>
     </ul>
    </div>
   </div>
   
   <div class="child2 child"
        [@headerAnim]="headerState">
    <div class="block1">
    </div>
    <div class="block2">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNpRt3tpzbxPRNMHSzBBf9aNADTDvq_MhrVA&usqp=CAU"
          style="width:100px;
                 opacity:0.8"
          class="rounded-circle">
     <div class="card myHeaderCard m-2">
      <div class="card-body">
       <blockquote class="blockquote">
        <p class="myCardText">
         When the mind is pure, joy
         follows like a shadow that never leaves.
        </p>
        <footer class="blockquote-footer">
         Gautam Buddha
        </footer>
       </blockquote>

      </div>
     </div>
    </div>
    <div class="block3">
     <ul class="list-group
                list-group-flush
                header-list">
      <li class="list-group-item
                 list-group-item-action
                 option-a"
         *ngIf="list2a==1"
         @fadeUpDown>
       Condition your mind
      </li>
      <li class="list-group-item
                 list-group-item-action
                 option-b"
          *ngIf="list2b==1"
          @fadeUpDown>
       focus on your focus
      </li>
      <li class="list-group-item
                 list-group-item-action
                 option-c"
          *ngIf="list2c==1"
          @fadeUpDown>
       Start session for free
      </li>
     </ul>
    </div>
   </div>
   <div class="child3 child"
        [@headerAnim]="headerState">
    <div class="block1">
    </div>
    <div class="block2">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNpRt3tpzbxPRNMHSzBBf9aNADTDvq_MhrVA&usqp=CAU"
          class="rounded-circle"
          style="width:100px;
                 opacity:0.8">
     <div class="card myHeaderCard m-2">
      <div class="card-body">
       <blockquote class="blockquote">
        <p class="myCardText">
         There is nothing more dreadful than
         the habit of doubt.
        </p>
        <footer class="blockquote-footer">
         Gautam Buddha
        </footer>
       </blockquote>
      </div>
     </div>
    </div>
    <div class="block3">
     <ul class="list-group
                list-group-flush
                headerList">
      <li class="list-group-item
                 list-group-item-action
                 option-a"
          *ngIf="list3a==1"
          @fadeUpDown>
       Condition your mind
      </li>
      <li class="list-group-item
                 list-group-item-action
                 option-b"
          *ngIf="list3b==1"
          @fadeUpDown>
       focus on your focus
      </li>
      <li class="list-group-item
                 list-group-item-action
                 option-c"
          *ngIf="list3c==1"
          @fadeUpDown>
       Start session for free
      </li>
     </ul>
    </div>
   </div>
   <div class="child4 child"
        [@headerAnim]="headerState">
    <div class="block1">
    </div>
    <div class="block2">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNpRt3tpzbxPRNMHSzBBf9aNADTDvq_MhrVA&usqp=CAU"
          class="rounded-circle"
          style="width:100px;
                 opacity:0.8">
     <div class="card myHeaderCard m-2">
      <div class="card-body">
       <blockquote class="blockquote">
        <p class="myCardText">
         Every morning we are born again. What
         we do today matters most.
        </p>
        <footer class="blockquote-footer">
         Gautam Buddha
        </footer>
       </blockquote>
      </div>
     </div>
    </div>
    <div class="block3">
     <ul class="headerList
                list-group
                list-group-flush">
      <li class="list-group-item
                 list-group-item-action
                 option-a"
          *ngIf="list4a==1"
          @fadeUpDown>
       Condition your mind
      </li>
      <li class="list-group-item
                 list-group-item-action
                 option-b"
          *ngIf="list4b==1"
          @fadeUpDown>
       focus on your focus
      </li>
      <li class="list-group-item
                 list-group-item-action
                 option-c"
          *ngIf="list4c==1"
          @fadeUpDown>
       Start session for free
      </li>
     </ul>
    </div>
   </div>
   <div class="child5 child"
        [@headerAnim]="headerState">
    <div class="block1">
    </div>
    <div class="block2">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNpRt3tpzbxPRNMHSzBBf9aNADTDvq_MhrVA&usqp=CAU"
          style="width:100px;
                 opacity:0.8"
          class="rounded-circle">
     <div class="card myHeaderCard m-2">
      <div class="card-body">
       <blockquote class="blockquote">
        <p class="myCardText">
         If anything is worth doing, do it
         with all your heart
        </p>
        <footer class="blockquote-footer">
         Gautam Buddha
        </footer>
       </blockquote>
      </div>
     </div>
    </div>
    <div class="block3">
     <ul class="headerList
                list-group
                list-group-flush">

      <li class="list-group-item
                 list-group-item-action
                 option-a"
          *ngIf="list5a==1"
          @fadeUpDown>
       Condition your mind
      </li>
      <li class="list-group-item
                 list-group-item-action
                 option-b"
          *ngIf="list5b==1"
           @fadeUpDown>
       focus on your focus
      </li>
      <li class="list-group-item
                 list-group-item-action 
                 option-c"
          *ngIf="list5c==1"
          @fadeUpDown>
       Start session for free
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
 

 <div class="row mx-0">
  <div class="col-sm-6 px-0">
   <div class="myLungsCard">
    <h1 class="myHeading">
     The 4-7-8 Breathing Exercise
    </h1>
    <ul class="list-group
               list-group-flush">
     <li class="list-group-item
                lungsList
                list-group-item-action">
      Inhale
     </li>
     <li class="list-group-item
                lungsList
                list-group-item-action">
      Hold breath
     </li>
     <li class="list-group-item
                lungsList
                list-group-item-action">
      Exhale
     </li>
    </ul>
    <p style="font-family:'Open Sans',sans serif">
     The exercise helps regulate the hormone cortisol, which controls your fight or flight response. This is important because too much cortisol being released in your body too often can have negative long-term health effects.
    </p>
   </div>
  </div>
  <div class="col-sm-6 px-0">
  </div>
 </div>
 
 <div class="myGrid">
  <div class="seg0"></div>
  <div class="seg1">
   <p class="myFont">In Marriage</p>
  </div>
  <div class="seg2"></div>
  <div class="seg3"></div>
 </div>
 <div class="newGrid">
  <div class="seg4"></div>
  <div class="seg5">
   <p class="myFont">In Senior Citizens</p>
  </div>
  <div class="seg6"></div>
  <div class="seg7">
   <p class="myFont">In<br>Fitness</p>
  </div>
  <div class="seg8"></div>
  <div class="seg9">
   <p class="myFont">In students</p>
  </div>
  <div class="seg10"></div>
  <div class="seg11"></div>
  <div class="seg12">
   <p class="myFont">Trauma and Grief</p>
  </div>
  <div class="seg13"></div>
  <div class="seg14"></div>
 

  
 </div>
 
 <div class="row mx-0">
  <div class="col-sm-6 px-0 leftArea">
   <div class="box1 box">
    <div class="up">
     <div class="myTop">
      <img src="https://cdn0.iconfinder.com/data/icons/digital-economy/64/technology-infrastructure-internet-computer-information-service-512.png"
           style="width:50px">
      <img src="https://cdn3.iconfinder.com/data/icons/scenarium-vol-8/128/020_network-512.png"
           style="width:50px">
      <img src="https://cdn0.iconfinder.com/data/icons/digital-economy/64/creative-thinking-brain-process-perspective-logic-512.png"
           style="width:50px">
      <img src="https://cdn0.iconfinder.com/data/icons/digital-economy/64/innovation-process-light-idea-revolution-512.png"
           style="width:50px">
     </div>
    </div>
    <div class="down">
     <p class="footer-top">
      Provide us with your valuable feedback
     </p>
    </div>
   </div>
   <div class="box2 box">
    <div class="myCard">
     <div class="imageArea">
      <img src="https://cdn0.iconfinder.com/data/icons/digital-economy/64/creative-thinking-brain-process-perspective-logic-512.png"
           style="width:50px">
     </div>
     <div class="textBox">
      <p class="myCardText text1">Think<br>outside</p>

     </div>               
     <div class="textBox2">
      <p class="myCardText text2">the box, always</p>
     </div>
    </div>
   </div>
   <div class="box3 box">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
         style="width:80px;height:80px">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png"
         style="width:80px;height:20px">
    <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png"
         style="width:80px;height:66px">
   </div>
   <div class="box4 box">
    <div class="box41 box">
     <p class="footer-note">
      Connect with us via:
     </p>
    </div>
    <div class="box42 box">
     <div class="social">
      <img src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/64/whatsapp_social_media_logo-256.png"
           style="width:50px">
      <img src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media-256.png"
           style="width:50px">
      <img src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_twitter-256.png"
           style="width:50px">
      <img src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/facebook_online_social_media-256.png"
           style="width:50px">
     </div>
    </div>
   </div>
  </div>
                      
  <div class="col-sm-6 px-0 rightArea">
   <div class="container
               myContainer">
    <form method="POST">
     
     <div class="form-div">
      <div class="form-div-left">
       <input type="text"
              class="name"
              placeholder="First Name">
      </div>
      <div class="form-div-right">
       <input type="text"
              class="name"
              placeholder="Last Name">
      </div>
     </div>
     <div class="row mx-0">
      <div class="col-sm-12 px-0">
       <textarea type="text"
                 rows="5"
                 class="feedBack mt-2"
                 placeholder="Give us your feedback"></textarea>
      </div>
     </div>
     <div class="row mx-0">
      <div class="col-sm-12 px-0 text-center">
       <button type="button"
               class="send mt-2">
        Send
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
<ul class="list-group
           list-group-flush
           myOp"
    [@ham]="myState">
 <li class="list-group-item myLink">Home</li>
 <li class="list-group-item myLink">Resume</li>
 <li class="list-group-item myLink">Collapse</li>
</ul>
